.carousel-item img {
	height: 550px;
}

.card {
	height: 350px;
	width: 200px;
}
.card p {
	font-size: 12px;
}

.card img {
	width: 196px;
	height: 180px;

}

.map iframe{
	width: 250px;
	height: 150px;
	border: 0;
	border-radius: 20px;
}